/*
	Filename 		: 	homr.css
 	Functionality	:	Serves as stylesheet for home.cfm page 
	Creation Date	:	July ‎4, ‎2017, ‏‎10:12:53 AM

*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
*.errors{
	color:red;
	text-align:center;
	font-family:"Helvetica";
	font-size:40px;
}
